<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.convenient.nekoconvenientmember8003.mapper.MemberLevelDictMapper">
    <select id="getHighestLevel" resultType="neko.convenient.nekoconvenientmember8003.entity.MemberLevelDict">
        select * from member_level_dict
        order by member_level desc
        limit 1
    </select>

    <select id="getSecondLevel" resultType="neko.convenient.nekoconvenientmember8003.entity.MemberLevelDict">
        select * from member_level_dict
        order by member_level desc
        limit 1, 1
    </select>

    <select id="getMemberLevelDictByUid" resultType="neko.convenient.nekoconvenientmember8003.entity.MemberLevelDict">
        select member_level_dict.member_level_id, member_level_dict.member_level, member_level_dict.level_name,
               member_level_dict.achieve_point, member_level_dict.grow_point, member_level_dict.discount,
               member_level_dict.is_delete, member_level_dict.create_time, member_level_dict.update_time from member_level_dict
        join member_info
        on member_level_dict.member_level = member_info.level
        where member_info.uid = #{uid}
    </select>

    <select id="getMemberLevelByPoint" resultType="int">
        select member_level from member_level_dict
        where #{point} >= achieve_point
        order by achieve_point
        limit 1
    </select>
</mapper>
