<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.convenient.nekoconvenientproduct8005.mapper.MarketApplyInfoMapper">
    <update id="updateStatusByApplyId">
        update market_apply_info
        set status = #{status}, status_info = #{statusInfo},
            apply_admin_id = #{applyAdminId}, update_time = #{updateTime}
        where apply_id= #{applyId}
    </update>
</mapper>
