<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.convenient.nekoconvenientproduct8005.mapper.SkuInfoMapper">
    <select id="getSkuInfoVosBySpuId" resultType="neko.convenient.nekoconvenientproduct8005.vo.SkuInfoVo">
        select sku_id, spu_id, sku_name, sku_image, price from sku_info
        where spu_id = #{spuId}
    </select>

    <select id="getProductInfosBySkuIds" resultType="neko.convenient.nekoconvenientproduct8005.vo.ProductInfoVo">
        select sku_info.sku_id, sku_info.spu_id, sku_info.market_id,
               sku_info.sku_name, market_info.brand_id, market_info.brand_name, sku_info.sku_image, sku_info.price from sku_info
        join market_info
        on sku_info.market_id = market_info.market_id
        where sku_info.sku_id in
        <foreach collection="skuIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
