<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.convenient.nekoconvenientware8007.mapper.StockLockLogMapper">
    <update id="updateStockLockLogStatus">
        update stock_lock_log
        set status = #{status}, update_time = #{updateTime}
        where stock_lock_log_id= #{stockLockLogId}
    </update>

    <select id="getLockProductInfoByOrderRecord" resultType="neko.convenient.nekoconvenientware8007.vo.LockProductInfoVo">
        select sku_id, lock_number, price from stock_lock_log
        where order_record = #{orderRecord}
    </select>
</mapper>
